/* GLOBAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
    background: #121212;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* NAVBAR & TOP */
.top-bar {
    padding: 10px 20px;
    background: white;
    color: #E50010;
    font-size: 13px;
    font-weight: bold;
}

.navbar {
    padding: 20px 20px;
    height: 64px;
    background: #121212;
}

.nav-left {
    display: flex;
    gap: 30px;
    align-items: center;
}

.logo {
    color: #E50010;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -2px;
}

.nav-links a {
    margin-right: 20px;
    font-size: 13px;
    font-weight: bold;
}

.nav-icons {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

/* HERO SECTION */
.hero-container {
    position: relative;
    width: 100%;
}

.hero-text {
    position: absolute;
    top: 30%;
    left: 5%;
    line-height: 0.9;
}

.hero-text h1 {
    color: #E50010;
    font-size: 60px;
    font-weight: 900;
}

/* INFO BAR */
.info-bar {
    padding: 20px 20px;
    background: black;
}

.info-title {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.info-link {
    font-size: 12px;
    color: gray;
    text-decoration: underline;
}

/* CAMPAIGN SECTION */
.campaign-section {
    padding: 40px 0;
    background: #121212;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.campaign-text {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    color: white;
}

/* NEW IN SECTION */
.new-in-section {
    padding: 40px 0 60px 0;
    background: #121212;
}

.section-header {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 14px;
    padding: 0 20px;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.product-item p {
    color: white;
}

.product-item span {
    color: #cccccc;
}

.single-feature-section {
    padding: 40px 0;
    background: black;
}

.feature-text {
    margin-top: 20px;
    padding-left: 20px;
    color: #cccccc;
}

.feature-text h4 {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
}

/* LINK FOOTER */
.site-footer {
    background: #1e1e1e;
    padding: 60px 20px;
    margin-top: 40px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-col h3 {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.footer-col li {
    margin-bottom: 12px;
}

.footer-col a {
    font-size: 13px;
    color: #cccccc;
}

.more-info {
    font-weight: bold;
    border-bottom: 1px solid white;
}

/* BOTTOM FOOTER */
.hm-footer {
    background: #121212;
    padding: 40px 0;
    margin-top: 20px;
}

.footer-top {
    padding-left: 20px;
    margin-bottom: 40px;
}

.footer-logo {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -2px;
    margin-bottom: 10px;
    color: white;
}

.footer-region span {
    font-weight: bold;
    font-size: 14px;
    margin-right: 15px;
}

.footer-bottom {
    padding: 0 20px;
}

.copyright-text {
    font-size: 12px;
    color: #cccccc;
}

.social-icons {
    display: flex;
    gap: 25px;
    font-size: 22px;
}

.product-item, .campaign-card {
    position: relative; 
    cursor: pointer;
}

.product-item img, .campaign-card img {
    transition: opacity 0.3s ease;
}

.product-item:hover img, .campaign-card:hover img {
    opacity: 0.5;
}

/*"Quick View" Button (Bottom Right Corner) */

.hover-btn {
    position: absolute;
    bottom: 0;
    left: 0;           
    width: 100%;      
    background-color: black;
    color: red;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: auto; 
}

.product-item:hover .hover-btn, .campaign-card:hover .hover-btn {
    opacity: 1;  
}

@media screen and (max-width: 1024px) {
    
    .navbar {
        padding: 20px 10px;
    }
    
    .nav-left {
        gap: 15px;
    }

    .grid-5 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .hero-text h1 {
        font-size: 50px;
    }
}


@media screen and (max-width: 768px) {

    .navbar {
        height: auto;           
        flex-direction: column;
        padding: 15px;
        gap: 20px;
    }

    .nav-left {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links {
        display: flex;
        flex-wrap: wrap;       
        justify-content: center;
        gap: 15px;
    }

    .nav-links a {
        margin-right: 0;    
        font-size: 14px;
    }

    .nav-icons {
        width: 100%;
        justify-content: center;
        gap: 30px;           
    }

    .grid-5 {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
    }

   .grid-2 {
        grid-template-columns: 1fr;
    }

    .grid-4 {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-text {
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
    }

    .hero-text h1 {
        font-size: 32px; 
    }

    .flex-sb {
        flex-wrap: wrap; 
    }
    
    .info-bar {
        text-align: center;
        justify-content: center;
        gap: 10px;
    }
    
    .info-bar .fa-plus {
        display: none;
    }
    
    .footer-bottom {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    
    .social-icons {
        justify-content: center;
    }
}